nav {
	background-color:#2C5463;
height:40px;
}


nav ul {
	font-family: Arial, Verdana;
	font-size: 20px;
margin: 0;
padding: 0;
	 list-style: none;
}

nav ul li {
display: block;
position: relative;
float: left;

}

nav li ul {
display: none;
}

nav ul li a {
display: block;
	 text-decoration: none;
padding: 7px 15px 3px 15px;
background: #2C5463;
color: #ffffff; 
       margin-left: 1px;
       white-space: nowrap;
height:30px; /* Width and height of top-level #nav items */
width:90px;
      text-align:center;

}

nav ul li a:hover {
background: #617F8A;
}

nav li:hover ul {
display: block;
position: absolute;
height:30px;
}

nav li:hover li {
float: none;
font-size: 11px;
}

nav li:hover a {
background: #3A464F;
height:30px; 
}

nav li:hover li a:hover {
background: #95A9B1;
}

nav ul li ul li a 
{
	text-align:left; /* Top-level items are centered, but nested list items are left-aligned */
}
h1
{
text-align:center;
font-family:"Georgia", Serif;
}
.tcycle 
{ 
	width: 50%; 
	max-width: 600px; 
	margin: 20px auto 
}
img 
{ 
width:100%; 
height:100%; 
}